/* @import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css'); */
/* @import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'); */
/* Include Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/boy2xyq.css');

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
}

.font-main {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.home-name {
  font-size: 100px;
}

main,
.overlay {
  height: 100vh;
}

.logo-bg {
  background-color: aliceblue;
}

/* main {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
} */
